# ******************************************************************************
# Title: .gitignore
# Description: List of files to be ignored by git vcs
# Author: Sebastian Sonntag
# Date: 2020-12-17
# License:
# ******************************************************************************

# Visual Studio Code related
.vscode

# PyCharm
.idea